@font-face {
  font-family: "iconfont"; /* Project id 2590672 */
  src: url('iconfont.woff2?t=1623315893243') format('woff2'),
       url('iconfont.woff?t=1623315893243') format('woff'),
       url('iconfont.ttf?t=1623315893243') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e629";
}

.icon-jiadianxiadanzhongleixuanze:before {
  content: "\e672";
}

.icon-icon_account:before {
  content: "\e60a";
}

.icon-dengchu:before {
  content: "\e65f";
}

.icon-shezhi:before {
  content: "\e603";
}

.icon-clock-filling:before {
  content: "\e689";
}

.icon-favorite-filling:before {
  content: "\e68a";
}

.icon-fire:before {
  content: "\e654";
}

